.Calculator{
    background-color: silver;
    max-width: 600px;
    max-height: 600px;
    padding: 1em;
}

.Title {
    padding: 1em;
}

.Operation {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    padding: 0.1em;
    color: gray;
    min-height: 30px;
}

.Display {
    background-color: wheat;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr)
}

.ShowDisplay{
    grid-area: 1/1/1/6;
}

.Buttons{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.Buttons > div > div {
    padding: 1em;
    width: 100/4;
    height: 100/4;
}

.Buttons > div > div:hover {
    background: #5590D2;
    text-decoration: none;
}

.Numbers {
    grid-area: 1/1/5/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-content: stretch;
}

.Operators {
    grid-area: 1/4/5/5;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between; 
    align-content: stretch;
    align-items: center;

}



