@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');
.App {
  text-align: center;
  font-family: 'Orbitron', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


